# Noosfero
<VirtualHost *:8080>
  ServerName <%= node['noosfero']['domain'] %>
  Include /usr/share/noosfero/util/chat/apache/xmpp.conf
  Include /etc/noosfero/apache/virtualhost.conf
</VirtualHost>

# vim: ft=apache
